<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (messages.error) { %>
      <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>
    
    <form action="/" method="post">
      <input type="text" id="username" name="username" autocomplete="off">
      <input type="password" name="password" id="password" autocomplete="off">

      <button type="submit">Login</button>
      <button type="button"><a href="/register">Register</a></button>
    </form>

  </body>
</html>
